<section class="pokemon-nav">
  @if (prevNext().previous.id && prevNext().next.id) {
    <div class="pokemon-nav__links">
      <div (click)="goToPokemon(prevNext().previous.id)">
        <p>N.º {{ prevNext().previous.id.toString().padStart(4, "0") }}</p>
        <p>{{ prevNext().previous.name }}</p>
      </div>

      <div (click)="goToPokemon(prevNext().next.id)">
        <p>N.º {{ prevNext().next.id.toString().padStart(4, "0") }}</p>
        <p>{{ prevNext().next.name }}</p>
      </div>
    </div>
  }

  <div class="pokemon-nav__title">
    <p>{{ pokemon().name }}</p>
    @if (pokemon().id) {
      <p>N.º {{ pokemon().id.toString().padStart(4, "0") }}</p>
    }
  </div>
</section>

<section class="pokemon-data">
  <p>{{ pokemon().name }}</p>
  <p>{{ pokemon().weight }}</p>
  <p>{{ pokemon().height }}</p>

  <div class="pokemon-stats">
    <p>Base Stats</p>
    <div>
      @for (stat of pokemon().stats; track stat.id) {
        <stat-bar [stat]="stat" />
      }
    </div>
  </div>

  <!-- <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto sint
    reiciendis officia possimus eum vero amet illum inventore? Quis ducimus
    quaerat velit ab iste ipsum in ullam vitae. Corporis, cum.
  </h1> -->
</section>
