<div class="footer-container">
  <div>
    <h3>Project develop by Zuhaitz</h3>
    <p>
      You can visit the repository in
      <a href="https://pokeapi.co" target="_blank">here</a>
    </p>
  </div>

  <div>
    <h3>
      Thanks to
      <a href="https://pokeapi.co" target="_blank">PokeAPI</a>
      for the service.
    </h3>
    <p>Please Nintendo, don't sue me. :_(</p>
  </div>
</div>

<p class="footer-antisue">
  ©2025 Pokémon. ©1995 - 2025 Nintendo/Creatures Inc./GAME FREAK inc. TM,
  ®Nintendo.
</p>
