@layer component {
  :host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 5px 10px;

    background-color: white;
    border-bottom: 2px solid #d4d4d4;
  }

  .page-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .page-title > span {
    color: #e3350d;
  }

  .toggle-nav > input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .toggle-nav-icon {
    width: 2rem;
  }

  .toggle-nav-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;

    aspect-ratio: 1 / 1;
  }

  .toggle-nav:has(input:checked) ~ .nav-links {
    top: 0;
    height: fit-content;
  }

  .toggle-nav:has(input:checked) ~ .nav-links::before {
    pointer-events: all;
    opacity: 0.4;
  }

  .nav-links {
    position: absolute;
    display: block;
    right: 0px;
    top: -200px;
    width: 100vw;
    height: fit-content;

    background-color: white;
    transition: top 0.2s ease-in-out;
  }

  .nav-links::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 150vh;
    width: 100vw;

    pointer-events: none;

    background-color: black;
    opacity: 0;

    transition: opacity 0.2s linear;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-wrap: balance;

    transition: all 0.2s linear;
  }

  .nav-link:hover {
    background-color: #e2e2e2;
  }

  .nav-link > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
  }

  .nav-link > div > pokeball-svg {
    position: absolute;
    left: 10px;
  }

  .nav-link-active > div {
    color: white;
  }

  .close-burger {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 10px;
    height: 3rem;
  }

  .close-burger-icon {
    width: 2rem;
  }

  .close-burger-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;

    aspect-ratio: 1 / 1;
  }

  @media (min-width: 640px) {
    .toggle-nav:has(input:checked) ~ .nav-links {
      width: 250px;
      height: 100vh;

      overflow: visible;
    }

    .nav-links {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 0;
      height: 100vh;

      overflow: hidden;

      transition: width 0.2s ease-in-out;
    }

    .nav-links::before {
      position: fixed;
      top: 0;
      left: 0;

      height: 100vh;
      width: 100vw;
    }

    .nav-link-active .link__bottom {
      --size: 3px;
      position: absolute;
      z-index: 1;

      top: 0;
      left: calc(var(--size) * -1);
      transform: translateX(0%);

      height: 100%;
      width: var(--size);
    }
  }

  @media (min-width: 1024px) {
    :host {
      padding: 0;
      height: fit-content;
    }

    .page-title {
      display: none;
    }

    .toggle-nav {
      display: none;
    }

    .toggle-nav:has(input:checked) ~ .nav-links {
      width: 100%;
      height: fit-content;
    }

    .toggle-nav:has(input:checked) ~ .nav-links::before {
      pointer-events: none;
      opacity: 0;
    }

    .close-burger {
      display: none;
    }

    .nav-links {
      position: relative;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;

      overflow: visible;
    }

    .nav-links::before {
      content: none;
    }

    .nav-link > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
      padding: 8px 20px;
    }

    .nav-link > div > pokeball-svg {
      position: relative;
      left: 0;
    }

    .nav-link-active .link__bottom {
      --size: 3px;
      position: absolute;
      z-index: 1;

      top: auto;
      left: 50%;
      bottom: calc(var(--size) * -1);
      transform: translateX(-50%);

      width: 100%;
      height: var(--size);
    }
  }
}
