<p class="page-title">Angu<span>Dex</span></p>

<label for="burger" class="toggle-nav">
  <input type="checkbox" name="burger" id="burger" />
  <div class="toggle-nav-icon">
    <img src="assets/icons/menu.svg" alt="burger menu" />
  </div>
</label>

<nav class="nav-links">
  <div class="close-burger">
    <label for="burger">
      <div class="close-burger-icon">
        <img src="assets/icons/x.svg" alt="close burger" />
      </div>
    </label>
  </div>

  <nav-link
    path="/"
    title="Pokedex"
    color="#e3350d"
    (linkClick)="setUnchecked()"
  >
    <pokeball-svg class="nav-link__icon" />
  </nav-link>

  <nav-link
    path="/about"
    title="About"
    color="#ee6b2f"
    (linkClick)="setUnchecked()"
  >
    <pokeball-svg class="nav-link__icon" />
  </nav-link>
</nav>
