@layer component {
  :host {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .nav-links {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    display: none;
  }

  .nav-link {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-wrap: balance;
  }

  .nav-link-active {
    color: white;
  }

  .nav-link-active .link__bottom {
    --size: 3px;
    position: absolute;
    z-index: 1;

    left: 50%;
    bottom: calc(var(--size) * -1);
    transform: translateX(-50%);

    width: 100%;
    height: var(--size);
  }

  .nav-link div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    padding: 8px 20px;
  }

  @media (min-width: 1024px) {
    .toggle-nav {
      display: none;
    }

    .nav-links {
      display: flex;
    }
  }
}
