@layer component {
  :host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 5px 10px;

    background-color: white;
    border-bottom: 2px solid #d4d4d4;
    overflow: hidden;
  }

  .page-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .page-title > span {
    color: #e3350d;
  }

  .toggle-nav > input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .toggle-nav-icon {
    width: 2rem;
  }

  .toggle-nav-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;

    aspect-ratio: 1 / 1;
  }

  .toggle-nav:has(input:checked) ~ .nav-links {
    top: 0;
  }

  .toggle-nav:has(input:checked) ~ .nav-links::before {
    pointer-events: all;
    opacity: 0.4;
  }

  .nav-links {
    position: absolute;
    display: block;
    right: 0px;
    top: -200px;
    width: 100vw;
    height: fit-content;
    overflow: hidden;

    background-color: white;
    transition: top 0.2s ease-in-out;
  }

  .nav-links::before {
    content: "";
    position: fixed;
    z-index: -1;
    height: 150vh;
    width: 100vw;

    pointer-events: none;

    background-color: black;
    opacity: 0;

    transition: opacity 0.2s linear;
  }

  .nav-link__icon {
    position: absolute;
    left: 10px;
  }

  .close-burger {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 10px;
    height: 3rem;
  }

  .close-burger-icon {
    width: 2rem;
  }

  .close-burger-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;

    aspect-ratio: 1 / 1;
  }

  @media (min-width: 640px) {
    :host {
      overflow: visible;
    }

    .toggle-nav:has(input:checked) ~ .nav-links {
      width: 250px;
      height: 100vh;

      overflow: visible;
    }

    .nav-links {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 0;
      height: 100vh;

      overflow: hidden;

      transition: width 0.2s ease-in-out;
    }

    .nav-links::before {
      position: fixed;
      top: 0;
      left: 0;

      height: 100vh;
      width: 100vw;
    }
  }

  @media (min-width: 1024px) {
    :host {
      padding: 0;
      height: fit-content;
    }

    .page-title {
      /* display: none; */
      position: absolute;
      left: 20px;
      font-size: 2rem;
    }

    .toggle-nav {
      display: none;
    }

    .toggle-nav:has(input:checked) ~ .nav-links {
      width: 100%;
      height: fit-content;
    }

    .toggle-nav:has(input:checked) ~ .nav-links::before {
      pointer-events: none;
      opacity: 0;
    }

    .close-burger {
      display: none;
    }

    .nav-links {
      position: relative;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;

      overflow: visible;

      background: none;
    }

    .nav-links::before {
      content: none;
    }

    .nav-link__icon {
      position: relative;
      left: 0;

      scale: 1;
      opacity: 1;
      height: 24px;

      animation: scaleDown linear forwards;
      animation-timeline: view();
      animation-range-start: 100vh;
      animation-range-end: 120vh;
    }
  }
}

@keyframes scaleDown {
  from {
    scale: 1;
    opacity: 1;
    height: 24px;
  }

  to {
    scale: 0;
    opacity: 0;
    height: 0;
  }
}
