<p class="page-title">Angu<span>Dex</span></p>

<label for="burger" class="toggle-nav">
  <input type="checkbox" name="burger" id="burger" />
  <div class="toggle-nav-icon">
    <img src="assets/icons/menu.svg" alt="burger menu" />
  </div>
</label>

<nav class="nav-links">
  <div class="close-burger">
    <label for="burger">
      <div class="close-burger-icon">
        <img src="assets/icons/x.svg" alt="close burger" />
      </div>
    </label>
  </div>

  <a
    (click)="setUnchecked()"
    routerLink="/"
    class="nav-link"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: true }"
    #homeLink="routerLinkActive"
  >
    <div [style]="homeLink.isActive ? { 'background-color': '#e3350d' } : {}">
      <pokeball-svg [color]="homeLink.isActive ? '#fff' : '#1e1e1e'" />
      <p>Pokedex</p>
      <span class="link__bottom" style="background-color: #e3350d"></span>
    </div>
  </a>

  <a
    (click)="setUnchecked()"
    routerLink="/about"
    class="nav-link"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: true }"
    #aboutLink="routerLinkActive"
  >
    <div [style]="aboutLink.isActive ? { 'background-color': '#ee6b2f' } : {}">
      <pokeball-svg [color]="aboutLink.isActive ? '#fff' : '#1e1e1e'" />
      <p>About</p>
      <span class="link__bottom" style="background-color: #ee6b2f"></span>
    </div>
  </a>
</nav>
