@layer component {
  .pokemon-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 288px;
    overflow: hidden;
    border-radius: 10px;
  }

  .pokemon-card > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;

    background-color: #f2f2f2;
    color: #4592c4;
  }

  .pokemon-card__data {
    padding-left: 15px;
  }

  .pokemon-card__number {
    color: gray;
  }

  .pokemon-card__name {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .pokemon-card__types {
    display: flex;
    gap: 4px;
  }

  .pokemon-card__types > p {
    width: 80px;
    font-size: 0.8rem;
    text-transform: capitalize;
    text-align: center;

    border-radius: 2px;
    color: white;
  }

  @media (min-width: 1024px) {
    .pokemon-card {
      width: 192px;
    }
  }
}
