<div class="pokemon-card" (click)="handleClick()">
  @if (pokemon()?.sprites?.front_default) {
    <img
      [src]="pokemon()?.sprites?.front_default"
      [alt]="pokemon()?.name"
      class="pokemon-card__icon"
    />
  } @else {
    <div class="pokemon-card__icon"></div>
  }

  <div class="pokemon-card__data">
    <p class="pokemon-card__number">
      Nº{{ pokemon()?.id?.toString()?.padStart(4, "0") }}
    </p>

    <p class="pokemon-card__name">{{ pokemon()?.name }}</p>

    <div class="pokemon-card__types">
      @if (pokemon()?.types) {
        @for (type of pokemon()?.types; track type.id) {
          <p [style]="{ 'background-color': types[type.name] }">
            {{ type.name }}
          </p>
        }
      } @else {
        <p [style]="{ 'background-color': types['normal'] }">-</p>
      }
    </div>
  </div>
</div>
