@layer component {
  .pokedex {
    width: min(1280px, 100%);
    margin: auto;
    background-color: white;
  }

  .load-btn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
    width: 100%;
  }

  .load-btn > button {
    font-size: 1.2rem;
    padding: 10px 20px;
    width: min(500px, 70%);

    outline: none;
    border: none;
    color: white;
    background-color: #30a7d7;
  }
}
