@layer component {
  :host {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;

    min-height: 100vh;
  }

  header {
    grid-area: "header";
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
  }

  .main {
    grid-area: "main";
    display: flex;
    justify-content: center;
  }

  footer {
    grid-area: "footer";
    margin-top: 40px;
    color: white;
    background-color: #1f1f1f;
  }
}
