@layer component {
  :host {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;

    min-height: 100vh;
  }

  header {
    grid-area: "header";
  }

  .main {
    grid-area: "main";
    display: flex;
    justify-content: center;
  }

  footer {
    grid-area: "footer";
  }
}
